@import 'vendor/reset.min'
@import 'partials/fonts'

$sidebarWidth: 350px
$mainGreen: #27AE60
$darkGreen: darken($mainGreen, 10%)
$glowBackground: #B6C0CC

=animation($timing)
    transition: all $timing cubic-bezier(0.68, -0.55, 0.265, 1.55)

=shadow($spread, $color)
    box-shadow: 0px 1px $spread $color

=glow($spread, $color)
    background: $glowBackground
    +shadow($spread, $color)

html *, html *:before, html *:after
    box-sizing: border-box

html *
    font-family: "Fira Sans", monospace

html, body, #sidebar
    height: 100%

.nav-active
    padding-left: $sidebarWidth

    #sidebar
        left: -50px

    #sidebar-toggle
        left: -50px
        +animation(600ms)

        #toggle-button:after
            transform: rotate(180deg)

body
    +animation(500ms)

#canvas-wrapper
    position: relative

    canvas
        position: absolute

#sidebar
    max-width: $sidebarWidth + 50px
    width: 100%
    height: 100%
    padding-top: 90px
    background: #363D45
    position: fixed
    left: -$sidebarWidth - 50px
    // left: -50px
    +animation(500ms)
    color: #A5B1BD
    overflow-y: auto
    z-index: 999
    padding-bottom: 15px

    h1
        color: #FFF
        padding: 15px 15px 15px 65px
        text-transform: uppercase
        font-weight: 200
        letter-spacing: .1em
        background-color: #22272D

#sidebar-toggle
    max-width: $sidebarWidth + 100px
    width: 100%
    height: 50px
    position: fixed
    top: 20px
    left: -$sidebarWidth - 50px
    // left: -50px
    z-index: 9999
    +animation(400ms)
    cursor: pointer

    &:hover #toggle-button
        background-color: $darkGreen//#666

    #project-title
        float: left
        max-width: $sidebarWidth + 50
        width: 100%
        height: 50px
        line-height: 50px
        font-size: 32px
        font-weight: 100
        text-align: center
        color: #FFF
        padding-left: 50px
        background-color: $mainGreen//#29C7CA
        border-bottom: 2px solid $darkGreen//#2BACB1

    #toggle-button
        background-color: $mainGreen//#333
        width: 50px
        height: 50px
        border-bottom: 2px solid $darkGreen//#000
        border-right: 2px solid $darkGreen//#000
        float: left
        transition: all 250ms ease
        text-decoration: none
        border-radius: 0 10px 10px 0

        &:after
            content: "⇨"
            text-align: center
            display: block
            width: 50px
            height: 50px
            line-height: 50px
            transform: rotate(0)
            color: #FFF
            +animation(500ms)

        &:hover
            // background-color: $darkGreen//#666
            // border-color: #5A5A5A

.data-group
    padding-left: 50px

    &.cozy
        padding: 20px 20px 20px 70px

    &.compact
        padding: 10px 10px 10px 60px

.label
    font-weight: 300
    font-size: 13px
    padding: 5px 7px

    &[tooltip]
        white-space: nowrap
        display: inline-block
        background-color: transparent
        transition: background 500ms ease, padding 500ms ease
        text-align: center

        &:after
            display: inline-block
            content: " [?]"
            color: $mainGreen
            transition: all 500ms ease
            width: 21px
            text-align: center
            opacity: 1

        &:before
            overflow: hidden
            display: block
            content: attr(tooltip)
            position: absolute
            width: 100%
            padding: 10px 10px 10px 60px
            transition: all 500ms ease
            white-space: normal
            text-align: center
            background-color: $darkGreen
            left: 0
            color: #FFF
            z-index: -1
            line-height: 20px
            pointer-events: none
            margin-top: 0
            opacity: 0

        &:hover
            background-color: $darkGreen
            color: #FFF
            cursor: help
            // transition: background 0ms, padding 0ms ease, opacity 0ms ease
            padding: 5px 14px

            &:after
                color: #FFF
                // transition: background 0ms, padding 0ms ease, opacity 0ms ease
                width: 0
                opacity: 0

            &:before
                z-index: 99999
                margin-top: 18px
                opacity: 1

.progress-bar
    overflow: hidden
    padding: 20px

    .amount
        float: right
        font-size: 18px
        font-weight: 100
        padding-top: 7px

    // .label
    //     display: block
    //     margin-bottom: 7px

    .bar
        width: calc(100% - 14px)
        height: 2px
        border-top: 1px solid #476283
        background-color: #506B8A
        float: left
        margin: 15px 7px 4px

        .progress
            height: 2px
            border-top: 1px solid #86A3BA
            position: relative
            top: -1px
            +glow(10px, #FFF)
            +animation(250ms)

.columns
    display: inline-block

    &.two
        width: 50%


.static-value-group
    background-color: darken(#363D45, 5%)
    padding-top: 20px

    &.three .static-value
        width: 31.11111%
        margin: 1.11111%

    .headline
        display: block
        text-align: center

.static-value
    display: inline-block
    width: 48%
    margin: 2% 1%
    padding: 20px 5px
    background-color: darken(#363D45, 5%)
    height: 110px
    vertical-align: top
    text-align: center

    // &:nth-child(-n+3)
    //     border-top: 2px solid desaturate(#22272D, 50%)

    // &:nth-child(4n), &:first-child
    //     border-left: 2px solid desaturate(#22272D, 50%)

    .amount
        font-weight: 100
        font-size: 26px
        margin-bottom: 12px
        display: block

    .unit
        font-weight: 100
        font-size: 16px

    // .label
    //     font-weight: 300
    //     display: block
    //     margin: 12px 5px 0
    //     font-size: 13px
    //     line-height: 17px

    //     &.top
    //         padding: 0 5px 12px

    .icon
        width: 34px
        height: 34px
        display: block
        background-color: #F00
        margin: 12px auto

        &.top
            margin: 0 auto 12px

.center-text
    text-align: center

.param
    &.numbers
        +shadow(10px, $mainGreen)
        margin: 10px auto 0
        width: 82px

        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
            -webkit-appearance: none
            margin: 0

        .subtract, .add

            &:before
                display: inline-block
                background-color: $mainGreen
                width: 82px
                height: 32px
                text-align: center
                line-height: 32px
                color: #FFF

            &:hover:before
                background-color: $darkGreen
                cursor: pointer

        .subtract
            &:before
                content: "-"

        .amount
            height: 42px
            width: 82px
            border: none
            display: inline-block
            vertical-align: top
            padding: 8px 10px
            flex-basis: 100%
            text-align: center
            font-size: 36px
            color: #FFF
            background-color: darken(#363D45, 5%)

            &:focus
                outline: none

        .add
            &:before
                content: "+"


    &.draggable
        -webkit-appearance: none
        width: 80%
        background: transparent
        border-bottom: 1px solid #FFF
        position: relative
        height: 1px
        margin: 20px 0 0 0

        &.unit-percent:after
            content: attr(data-value) "%"

        &.unit-hours:after
            content: attr(data-value) "h"

        &::-webkit-slider-thumb
            -webkit-appearance: none
            width: 21px
            height: 21px
            border-radius: 100%
            background-color: $mainGreen
            +shadow(10px, $mainGreen)

        &:before
            width: 0
            height: 0
            display: block
            content: ""
            border-top: 12px solid transparent
            border-bottom: 12px solid transparent
            border-right: 12px solid $glowBackground
            position: absolute
            top: -12px
            right: -7%

        &:after
            width: 15%
            background-color: $glowBackground
            display: block
            right: -20%
            content: attr(data-value)
            color: #333
            text-align: center
            height: 24px
            line-height: 26px
            font-size: 14px
            position: absolute
            top: -12px

        &:focus
            outline: none

#defaultCanvas0
    left: -50px

#defaultCanvas1
    z-index: -1
    left: -50px
